html, body {
    font-family: Arial, serif;
    font-size: 16px;
    background-image: linear-gradient(rgba(0,0,0, 0) 0%,rgba(0,0,0, 1) 100%), url("../assets/img/table2.jpg");
    background-repeat: no-repeat;
    background-position-x: center;

}

header h1 {
    font: bold 22px sans-serif;
}

.sterpazook {
    font: normal 28px sans-serif;
    display:block;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 0.2em;
    margin-top: 0.3em;
    margin-right: -15px;
    
}

header h2 {
    font-size: 18px ;
}

header {
    background-color: #F0E68C ;
    border: 1px solid #FFFACD;
    border-radius: 10px;
    padding: 10px;
    width: 30.8em;
    height: 15em;
    position: relative;
    top: -7em;
    margin-left:auto;
    margin-right:auto;
    z-index: 1;
    box-shadow: 
        inset 0 -3em 3em rgba(0,0,0,0.1),
        2px 2px 6px 0px rgba(0, 0, 0, 0.9);
    transition: 0.5s;
    transform: rotate(15deg);
    overflow-x: hidden;
}

header .light {
    position: absolute;
    top: 0;
    height: 100%;
    width: 45px;
    transform: skewX(-45deg);
    animation: light;
    left: -150%;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.4));
    animation: light 3s infinite linear;
}

@keyframes light {
    0% {
        left: -150%;
    }
    100% {
        left: 150%;
    }
}

header:hover {
    transform: scale(1.5) translate(0%, 50%);
}

header img {
    border-radius: 10px;
    height: 100%;
    float: left;
    margin-right: 10px;
}

nav {
    text-align: right;
    float: right;
    position: sticky;
    top: 240px; left: 0em;
}

nav ul li {
    display: block;
    background-color: #F0E68C;
    text-decoration: none;
    padding: 0.6em;
    margin-bottom: 5px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

section ul li {
    margin-bottom: 0.5em;
}

a {
    text-decoration: none;
    color: #0000ee;
}

a:hover {
    color: red;
}

main {
    margin-left: auto;
    margin-right: auto;
    width: 42.8em;
    margin-top: -1em;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.9);
}

main h2 {
    font: bold 20px 'Courier New', Courier, monospace;
    letter-spacing: 5px;
    margin-bottom: 15px;
}

#summary:before, #experience:before, #skills:before, #codexmpl:before, #education:before, #projects:before, #languages:before {
	display: block;
    content: "";
	height: 55px;
	margin: -72px 0 0;
}

section {
    font-family: 'Courier New', Courier, monospace ;
    font-size: 18px;
    padding: 30px;
    
    background-color: #FFFACD;
    box-shadow: inset 0 -3em 3em rgba(0,0,0,0.2);
}


address {
    font: normal 16px sans-serif;
    margin-top: 10px;
}

address img {
    vertical-align: middle;
    height: 1.1em;
    margin-right: 0.4em;
}

address div {
    margin-bottom: 0.3em;
}

section ul {
    list-style-type:circle;
    margin-left: 3%;
}

.icon {
    font-size:24px;
    margin-right: 0px;
}

footer img {
    height: 2em;
    -webkit-filter: invert(100%); /* safari 6.0 - 9.0 */
            filter: invert(100%);
    margin-right: 0.5em;
    vertical-align: middle;
}

footer {
    position: sticky;
    bottom: 3em;
    min-width: 44em;
    margin-left:1.2em;
    margin-right:1.2em;
}

footer a {
    color: #ffffff;
}

.github {
    float: left;
    
    
}

.rsschool {    
    float: right;
    
}

code {
    font-size: 12px;
}